$primary-color: #00786c;
$font-color: #dadada;
$gray-color: #333333;

@import 'base/normalize';
@import 'base/style';

@import 'layouts/menu';
@import 'layouts/header';
@import 'components/panel';
@import 'components/buttongroup';
@import 'components/container';
@import 'components/sectioncollapse';